.topic-body .cooked,
.d-editor-preview {
  font-size: var(--font-up-1);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 1.8em;
    margin-bottom: rem(16);
  }

  p,
  ol,
  ul,
  pre,
  dl {
    margin: 1.25em 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    & + p {
      margin-top: 0;
    }
  }

  h1 {
    font-size: var(--font-up-7);
  }

  h2 {
    font-size: var(--font-up-5);
  }

  h3 {
    font-size: var(--font-up-4);
  }

  h4 {
    font-size: var(--font-up-3);
  }

  h5 {
    font-size: var(--font-up-2);
  }

  ol,
  ul {
    padding-left: rem(40);
    list-style: none;

    li {
      list-style: none;
    }
  }

  ol {
    padding-left: rem(24);
    counter-reset: ordered-list;

    li {
      position: relative;
      margin-bottom: rem(8);
      padding-left: rem(32);

      &::before {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        min-width: rem(20);
        height: rem(20);
        margin: rem(2) rem(10) 0 0;
        padding: rem(2);
        font-size: var(--base-font-size-smaller);
        font-weight: 700;
        line-height: 1.3;
        text-align: center;
        background-color: var(--primary);
        color: var(--secondary);
        counter-increment: ordered-list;
        content: counter(ordered-list);
      }
    }
  }

  ul {
    li {
      position: relative;
      margin-bottom: rem(8);

      &::before {
        content: "";
        display: inline-block;
        position: absolute;
        top: 0;
        width: rem(8);
        height: rem(8);
        margin: rem(10.5) rem(10) 0 rem(-16);
        background-color: var(--primary);
      }
    }
  }

  a {
    padding-bottom: rem(1);
    border-bottom: 2px solid var(--tertiary);
  }

  blockquote {
    padding: rem(24);
    border-color: var(--highlight);
    border-radius: rem(4);

    &::before,
    &::after {
      content: "";
      display: block;
      width: rem(30);
      height: rem(30);
      background-size: rem(30);
      background-repeat: no-repeat;
    }

    &::before {
      margin-bottom: rem(16);
      background-image: url($quote_left);
    }

    &::after {
      margin-top: rem(16);
      margin-left: auto;
      background-image: url($quote_right);
    }

    p {
      padding: 0 rem(16);
    }
  }

  aside {
    a {
      padding-bottom: 0;
      border-bottom: 0;
    }
  }
}

.topic-post {
  margin-bottom: rem(24);
  padding: rem(24);
  background: #f5f5f5;

  .topic-avatar {
    padding: 0;
    border: 0;
  }

  .topic-body {
    // width: calc(var(--topic-body-width) + var(--topic-body-width-padding) / 2);
    padding-top: rem(10);
    border: 0;
  }
}
